@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
  background-color: #121212;
}

h3 {
  font-family: "Orbitron", sans-serif;
  color: #66ff99;
}

#clock {
  font-family: 'Orbitron', sans-serif;
  color: #66ff99;
  font-size: 56px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

#alarm-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  color: #66ff99;
}

#buttonHolder {
  display: flex;
  align-content: space-between;
}

button {
  text-decoration: none;
}