@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
  background-color: #121212;
}

h3 {
  font-family: "Orbitron", sans-serif;
  color: #66ff99;
  text-align: center;
}

#clock {
  font-family: 'Orbitron', sans-serif;
  color: #66ff99;
  font-size: 56px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

#alarm-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  width:50%;
  margin: 0 auto;
  padding: 15px;
  color: #66ff99;
}

#buttonHolder {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin: 5px;
}

button {
  text-decoration: none;
  border-color: 66ff99;
  border: solid;
}


selectorButtons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 5px;
}

